.technology {
  padding: 63px 0 104px;
}
.technology__title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.technology__col {
  height: 226px;
  padding: 0 30px 0;
  text-align: center;
  position: relative;
}
.technology__image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 12px;
}
.technology__numb {
  position: relative;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: #8e8a8a;
}
.technology__cloud-title {
  font-family: Lato, sans-serif;
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.technology__cloud-subtitle {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}