.features{
    padding: 63px 0 229px;
    &__col{
        height: 250px;
        background: top left/100% 100% no-repeat;
        padding: 157px 0 0;
    }
    &__title{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #000000;
        padding-bottom: 70px;
    }
    &__Mcol:first-child &__col{
        background-image: url("../images/card/Bg.png");
    }
    &__Mcol:nth-child(2) &__col{
        background-image: url("../images/card/Bg2.png");
    }
    &__Mcol:nth-child(3) &__col{
        background-image: url("../images/card/Bg3.png");
    }
    &__card{
        margin: 0 auto;
        width: 293px;
        height: 198px;
        padding: 33px 0 35px;
        background-color: #fff;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        text-align: center;
    }
    &__card-title{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #101010;
        margin-bottom: 20px;
    }
    &__card-subtitle{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #101010;
        margin-bottom: 18px;
    }
    &__card-link{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        text-decoration: none;
        color: #e41f32;
    }
}